[data-theme="light"] {
    --primary: #186936;
    --background: #809060;
    --text: #181;
}

[data-theme="dark"] {
    --primary: #e86936;
    --background: #0c221c;
    --text: #fff;
}

body {
    color: var(--text);
    background-color: var(--background);
    font-family: 'Roboto';
}

.product {
    color: var(--text);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--background);
}