[data-theme="light"] {
    --primary: #186936;
    --background: #bf4021;
    --text: #588;
    --titles: #196380;
    --footer: #095803;
    --header: #ae5360;
    --productBackground: #bf1850;
    --productText: #000;
}

[data-theme="dark"] {
    --primary: #63a6d9;
    --background: #0c221c;
    --text: #fff;
    --titles: #ae0;
    --footer: #ee3360;
    --header: #8095;
    --productBackground: #71ff55;
    --productText: #fff;
}

body {
    color: var(--text);
    background-color: var(--background);
    font-family: 'Roboto';
}

.primary {
    background-color: var(--primary);
}

.product {
    color: var(--productText);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--productBackground);
}

footer {
    color: var(--text);

}

.title {
    color: var(--titles);
}

.categories {
    background-color: #484198;
}

.account-form {
    width: 40%;
    margin-top: 50px;
}

@media (max-width: 576px) {

    /* … */
    .account-form {
        width: 90%;

    }
}

.background {
    background-color: var(--background);
}

.text {
    color: var(--text);
}

.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;
    z-index: 2;
}

.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.button {
    background-color: var(--primary);
    color: var(--titles);
    font-weight: bolder;
    text-align: center;
    width: 10%;
    border-radius: 30px;
}

.error404Page {
    width: 50%;
}

.search-icon {
    color: var(--productText);
    align-self: center;
    margin-left: 10px;
}